## Hi there 👋

<!--
**DevineGridNetwork/DevineGridNetwork** is a ✨ _special_ ✨ repository because its `README.md` (this file) appears on your GitHub profile.

Here are some ideas to get you started:

- 🔭 I’m currently working on ...
- 🌱 I’m currently learning ...
- 👯 I’m looking to collaborate on ...
- 🤔 I’m looking for help with ...
- 💬 Ask me about ...
- 📫 How to reach me: ...
- 😄 Pronouns: ...
- ⚡ Fun fact: ...
-->
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background: #0e0e0e;
  color: #f4f4f4;
}

header {
  background: #121212;
  padding: 2rem;
  text-align: center;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  background: #1a1a1a;
  padding: 1rem;
  border-radius: 8px;
}

footer {
  background: #121212;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
